

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', Sans Serif;
	font-weight: 600;
	text-align: center;
	color: #3a444f;
}


body{
	font-family: 'Open Sans', Sans Serif;
	font-weight: 400;
	color: #545454;
	-webkit-font-smoothing: antialiased;
}

footer {
    font-size: 30px;  color : #fff; border: 1px solid #fff;
    box-sizing:border-box; text-align:  right;
}

header{
  font-family: 'Open Sans', Sans Serif;
  background-color: #f2f2f2;
}

header .navbar { 
	margin: 0;
	padding: 10px;
	border-radius: 0;
	box-shadow: 0 1px 15px rgba(0,0,0,0.2);
  text-align: center;
  overflow: hidden;
}

header .logo {
    display: block;
    padding: 0 0 0 0;
    margin-left: auto;
    margin-right: auto;
	background-color: #3a444f;
}

header .navbar ul {
  font-size: 0;
}
header .navbar ul li {
  display: inline-block;
  padding: 0 30px;
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
}
header .navbar ul li a {
  display: inline-block;
  padding: 0 30px;
  font-size: 20px;
  color: #333;
  text-transform: uppercase;

}


header .navbar  ul li  :hover  {
    display:block; 
    width:60; 
    visibility:visible;
    color: #fff ;
    background-color: #333;
}

body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

body .info{
  overflow-y:auto;
}

footer {
    font-size: 20px;  color : #333; border: 1px solid #fff;
    box-sizing:border-box; text-align:  right;
}

a {
    text-decoration:none; color: inherit;
}


form{
    box-sizing: border-box;
    color: inherit; 
    display: block;
    width: auto;
    float: center;
    font-size: 30px; 
}

form label{
    text-align: left;
}

form input[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form input[type=number] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form input[type=submit] {
  color: white;
  font: Sans Serif;
  background-color: #333;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form input[type=button] {
  color: white;
  font: Sans Serif;
  background-color: #333;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


.float-container {
  display: flex;
  margin-top: 70px;
}

.float-child {
  flex: 1;
} 

button{
  color: white;
  font: Sans Serif;
  background-color: #333;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
}



.bluebar {
	padding-top: 20px;
	padding-bottom: 40px;
    width: 100%;
    background-color: #3a444f;
}

.centerpicB {
  display: block;
  text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	border: 30px solid #3a444f;
}

.centertextB {
  display: block;
  text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	color: white;
	padding: 10px;
	border: solid white 2px;
}

.centertextB :hover {
	color: #e0ae77;
}

.whitebar {
	padding-top: 20px;
	padding-bottom: 40px;
    width: 100%;
    background-color: white;
}

.centerpicW {
  display: block;
  text-align: center;
	margin: auto;
	width: 75%;
	border: 30px solid white;
}

.centertextW {
  display: block;
  text-align: center;
	margin:auto;
	width: 600px;
	color: #3a444f;
	padding: 10px;
	border: 2px solid #3a444f;
}

.centertextW :hover {
	color: #e0ae77;
}

@media screen and (max-width:700px) {
	.centertextW {
		width: 350px;
	}
}

@media screen and (max-width:700px) {
	.centertextB {
		width: 350px;
	}
}

.footer {
   width: 100%;
   background-color: #3a444f;
   color: white;
   text-align: center;
	margin: auto;
}

.footer p{
	font-size: 18px;
	color: white;
}

.footer ul {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3a444f;
  font-size: 14px;
}

.footer ul li
{
    list-style-type: none;
    display: inline;
}

.footer li a
{
	text-decoration: none;
	color: white;
}

.footer li a:hover:not(.active) {
  color: #e0ae77;
}

.footer li:not(:first-child):before {
    content: "  |  ";
}
